@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Water is the Source of Life</h1>
    <p class="lead">
        Life natural resources comes once in a life time.
        Let's treat them right, so they can treat us better.
    </p>
 <div>
    <img src="~/Content/Images/Jumbo1.PNG" />
    (Live Photo)
 </div>  
<div class="row">
    <div class="col-md-4">
        <h2>Society shows lack of Concern for Fresh Water</h2><br />
        <p>
            We take for granted that when we turn on our faucet that clean fresh water is going to come out everytime we turn the knob.
            We assume that Lake Erie will be at our disposal for as long as we would like it to be.  I bet
            that none of you ever thought that one day there could be a shortage of fresh water, but
            guess what: that time may be much closer than you realize. Lake Erie is 4,000 years old.  At its present state Lake Erie is only about 20% of fresh water. The other 80% is anything but that. Lake Erie is the major source of Ohio's fresh water supplier, and without it there would be great pressure on our state.


        </p>
        
    </div>
    <div class="col-md-4">
        <h2>The Social Injustice that plagues Lake Erie</h2><br />
        <p>
        There are several reasons why Lake Erie is suffering at such a large rate. One reason our lake suffers is due to industrial metal particles that escape their facilities and find their way into Lake Erie. The major contributing factor toward Lake Erie being crippled is pollution. Agriculture phosphorus and nitrogen runoff, which is primarily from agricultural lands, feeds explosive cyanobacterial growth in the warm, shallow waters of the western basin. This in turn engenders the severe increase in algal blooms in the lake. Understanding the source of the phosphorus pollution that threatens the health of Lake Erie, and of the communities that depend on it, is the first step toward finding solutions to this vital issue. The onus of resolving this issue should not be placed solely upon the government agencies. <strong> WE can do some of the heavy lifting, too, by brainstorming and acting on our own interventions and resolutions.</strong> 
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>How does the Quality of Water effect you</h2><br />
        <p>We all need fresh water to live a healthy and productive life; this is a given. Even as a refreshment, water is a crucial resource. Whether it be drinking a tall, ice cold glass of water on a scorching summer's day. Or maybe it's bathing after a hard long frustrating day. Perhaps you may want to take a refreshing swim at the beach with your family. Whichever the case, without fresh water our lives would be severely adversely impacted.</p>
        
    </div>
</div>