@{
    ViewBag.Title = "About SaveWaterForLife";
}
<div class="container">
    <div class="page-header">
        <br />
        <h1><strong> Who We Are!</strong></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <!-- Page Content -->
                    <div class="container">
                        <div class="page-header">
                            <div class="container">
                                <!-- Introduction Row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2><b>It's Nice to Meet You!</b></h2>
                                        <p>
                                            We are trying to develop a website to help  businesses, industries, policy makers, and citizens to become more aware of the ecological and social consequences<br />
                                            of their actions with respect to water and help to better understand the economic and non-economic value of water.<br />
                                            We hope to provide communities with unsafe or inaccessible water resources to meet their basic needs by improving the awareness, perception,<br />
                                            and understanding of the quality of water.
                                        </p>
                                    </div>
                                </div>
                                <!-- Team Members Row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                    </div>
                                    <div>
                                        <h1 class="page-header">Our Team</h1>

                                    </div>
                                    <img src="~/Content/Images/TRi-c.jpg"
                                         width="700" height="500" alt="EdgeWater">

                                    <p>
                                        <h2>Edge Water:</h2><b>Kevin Baldwin, George Temple, Alicia Reaves</b>
                                        <b>Ravon Wright, Victor Corsi, Sherry Hannis</b>
                                    </p><br />
                                    <br>
                                    <!--The person who worked on this code entered a change in late-->
                                    <p><strong>SaveWaterForLife Channel on Youtube: </strong></p>                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6">                                                    <iframe width="520" height="315" src="https://www.youtube.com/embed/6LAT1gLMPu4" frameborder="0" allowfullscreen></iframe>                                                                                                  </div>                                                <div class="row">                                                    <div class="col-lg-6">                                                        <iframe width="520" height="315" src="https://www.youtube.com/embed/ik0Jwb69neg" frameborder="0" allowfullscreen></iframe>                                                    </div>                                                </div>                                                <hr />                                                <p><b> Follow us on social media!</b></p>
                                                <p>
                                                    <a href="https://www.facebook.com/atusaInt/?ref=bookmarks"><img src=../../Content/Images/1493411618_twitter.png alt="Twitter"></a>
                                                    <a href="https://www.facebook.com/atusaInt/?ref=bookmarks"><img src=../../Content/Images/1493415322_instagram.png alt="Instagram"></a>
                                                    <a href="https://www.facebook.com/atusaInt/?ref=bookmarks"><img src=../../Content/Images/1493414137_facebook.png alt="Facebook"></a>
                                                    <a href="https://www.facebook.com/atusaInt/?ref=bookmarks"><img src=../../Content/Images/1493414817_pinterest.png alt="pinterest"></a>
                                                    <a href="https://www.facebook.com/atusaInt/?ref=bookmarks"><img src=../../Content/Images/1493414974_google-plus.png alt="GooglePlus"></a>
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
</style>
